@inherits UmbracoViewPage
<!-- 
    This is equivalent to 
    @inherits UmbracoViewPage<IPublishedContent>
-->
<html>
    <body>
        <h1>
        @Model.Value("title")
        </h1>
    </body>
</html>